.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  padding: 10px;
  left: 0px;
  position: absolute;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #bea96d;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* =============== */
.button {
  background: aliceblue;
  width: 130px;
  height: 50px;
  font-weight: bold;
  font-size: 30px;
  padding: 15px;
  text-align: center;
  border: 3px solid #d7d7e6;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.button:hover {
  box-shadow: -1px 1px 14px rebeccapurple;
  cursor: pointer;
}

.close-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: aliceblue;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 11px center;
  background-size: 1.2em;
  font-size: 1.5em;
  
  border: 3px solid #d7d7e6;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  border-radius: 30px;
  transition-duration: 0.4s;
  background-image: url('./xmark.svg');
}
.close-button:hover {
  box-shadow: -1px 1px 14px rebeccapurple;
  cursor: pointer;
  font-size: 1.6em;
}
/*==== LOADER =====*/

.loader {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  top: 250px;
  width: 80px;
  height: 80px;
  border: 1px solid;
  border: 5px dashed;
  border-radius: 50px;
  animation: spin 5s linear infinite;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progressBar {
  width: 30em;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #d6d5d5;
  position: relative;
  margin-top: 1em;
}
.progress-text {
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 30em;
}
.progressBg {
  width: 3em;
  height: 2em;
  position: relative;
  background-color: aqua;
  transition-duration: 0.4s;
}

/* === img ==== */

.thumb {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  box-shadow: 0px 1px 10px 0px #b7b1b1;
  transition-duration: 0.4s;
}

.thumb:hover {
  cursor: pointer;
  box-shadow: 0px 1px 10px 0px rebeccapurple
}
.image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 40%;
  box-shadow: 0px 1px 10px 0px #b7b1b1;
}

ol.images{
  display: inline-flex;
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  width: 160px;
  padding: 10px;
}

.tab {
  width: 40%;
  display: inline-table;
  padding: 1.5em;
}



