.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  padding: 10px;
  left: 0px;
  position: absolute;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50%);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* =============== */
.button {
  background: aliceblue;
  width: 130px;
  height: 50px;
  font-weight: bold;
  font-size: 30px;
  padding: 15px;
  text-align: center;
  border: 3px solid #d7d7e6;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  border-radius: 10px;
  transition-duration: 0.4s;
}
.button:hover {
  box-shadow: -1px 1px 14px rebeccapurple;
  cursor: pointer;
}
/*==== LOADER =====*/
/* .loader {
  animation: loader infinite 1s;
  background: #617eb9;
  width:30px;
  height:30px;
  position: relative;
}

@keyframes loader {
  0%   { background: red;left:100px;}
     
    50%  { background: blue;left:200px;}
    100%  { background: green;left:100px; }
    
} */


.loader {
  /* position: absolute; */
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  top: 250px;
  width: 80px;
  height: 80px;
  border: 1px solid;
  border: 5px dashed;
  border-radius: 50px;
  /* -webkit-animation: spin 3s linear infinite; */
  animation: spin 5s linear infinite;
}
/* .spinner:after {
  content: '◌';
} */


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



